body {
    background-color: #323d42;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}
header {
    height: 30px;
    margin: 0;
    background-color: #38524c;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

header p {
    display: inline-block;
    margin-right: 700px;
    font-weight: bold;
    font-size: 18px;
}

header a {
    margin-right: 30px;
}

header i {
    margin-left: 100px;
}
main {
padding-top: 150px;
padding-left: 80px;
}
main section h3 {
    font-size: large;
    width: 100px;
}

h1 {
    font-size: xx-large;

}

main section h2 span {
    color: aqua;
}

.text {
    display: inline-block;
}

.text2 {
    /* margin-left: 80px; */
    margin-right: 290px;
    width: 700px;
    font-size: large;
    text-transform: capitalize;
}

.image {
    border-radius: 100%;
    display: inline-block;
    height: 400px;
    width: 350px;
    background-image: url(image.jpg);
    background-size: cover;
}

.footer {
    margin: 20px 0 20px;
    /* margin-left: 80px; */
}

.footer span {
    margin-right: 20px;
}

button {
    /* margin-left: 80px; */
    border: 2px solid #fff;
}